@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');
@import './globals.scss';

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  font-size: 15px;
}

main {
  display: flex;
  background-color: $background-dark;
}