@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

:root {
  font-size: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import './globals.scss';

body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', Helvetica Neue, sans-serif;
  background-color: $background-dark;
}

main {
  display: flex;
}

@media (max-width: 840px) {
  :root{
    font-size: 12px;
  }
  
  main {
    flex-direction: column;
  }
}