@import './globals.scss';

.main-container{
    display: flex;
    flex-direction: column;
    margin: 2rem 12% 2rem;
    justify-content: space-between;
}

.temp-switch {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.35rem;
    display: flex;
    justify-content: flex-end;
}

.temp-unit {
    @include round-button();
    background-color: #585676;
    color: $text-light;
    margin: 0 .5rem;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: block;
}

.temp-unit-select {
    @include round-button();
    background-color: $text-light;
    color: #110E3C;
    margin: 0 .5rem;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: block;
}

